html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.home-page{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.fit-fox-character {
    max-width: 150px;
    width: 100%;
    height: auto;
    display: inline-block;
}

div.choose-activity{
    display:flex;
    flex-direction:row;
    gap: 10em;
}



.map-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.choose-map{
    display:flex;
    flex-direction:row;
    gap: 30em;
}

.choose-map-box{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width: 20em;
    height:20em;
    border:solid;
    border-color:black;
    padding: 1rem;
}

form[action="Map/GetAllMaps"] button {
    margin-top: auto;
}

.lesson-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.choose-lesson {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10em;
}

.choose-lesson-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 20em;
    height: 20em;
    border: solid;
    border-color: black;
    padding: 1rem;
}

form[action="Lesson/GetMapLessons"] button {
    margin-top:auto;
}

.choose-lesson-box h3{
    text-align:center;
}

h1.lesson-results, h2.lesson-score{
    text-align:center;
}

div.lesson-result-container{
    display:flex;
    flex-direction:row;
    padding-top:2em;
    gap:2em
}

div.wrong-answers, 
div.correct-answers{
    border:solid;
    border-width:2px;
    margin-bottom:0.5em;
    display:flex;
    flex-direction:column;
    flex:1;
    background-color:aquamarine;
    padding:1.5em;
}

div.user-honor-room-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

div.user-honor-room-wrapper div h2,
h1.honor-room{
    text-align:center;
}

div.user-honor-room-wrapper div {
    display:flex;
    justify-content:center;
    flex-direction:column;
    border:0.3em, solid;
    margin: 1em;
}

div.user-honor-room-wrapper div p {
    text-align:center;
}

div.dropdown my-3{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

ul.dropdown-menu dropdown-menu-center {
    left: 50%;
    transform: translateX(-50%)
}

div.map-coverage{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

div.single-map-coverage-box {
    display:flex;
    justify-content:center;
    flex-direction:column;
    min-width:50%;
    max-width:50%;
    align-self:center;
}

div.single-map-coverage-box h3{
    text-align:center;
}

.achievement-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 9999;
}

img.achievement-icon{
    height:auto;
    width:10em;
    align-self:center;
}

achievement-display-box{
    display:flex;
    flex-direction:row;
    margin-bottom:1em;
}